<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019851642914-t14805unnlucmlmuc0uihsa3745nunco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019851642914-t14805unnlucmlmuc0uihsa3745nunco</string>
	<key>API_KEY</key>
	<string>AIzaSyD-ZHSVoPRHxkXIspXwKTYLcFo8iZQ3cAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1019851642914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.answerals.AALSCompanion</string>
	<key>PROJECT_ID</key>
	<string>aalscompanion</string>
	<key>STORAGE_BUCKET</key>
	<string>aalscompanion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019851642914:ios:144501f5ac5f43dc</string>
	<key>DATABASE_URL</key>
	<string>https://aalscompanion.firebaseio.com</string>
</dict>
</plist>